@using InfoSN.Models.ViewModel.Articles;
@model DetailsArticleVM;
@{
}

<div>
	@if (Model is null)
	{
		<p>L'article demandé n'existe pas</p>
		<a asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
	}
	else
	{
		<h2>@Model.Title</h2>
		<p>@Model.Description</p>
		@if (User.Claims.FirstOrDefault(c => c.Type == "UserId")?.Value == Model.IdUser)
		{
			<a asp-action="Update" asp-route-id="@Model.Id">Modifier</a>
		}
	}
</div>
