@using InfoSN.Models.ViewModel.Articles;
@model IEnumerable<DisplayArticleVM>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">InfoSN</h1>
    @if (Model.Count() >= 1)
    {
        foreach (DisplayArticleVM article in Model)
        {
            <div>
                <h2>@article.Title</h2>
                <p>@article.Description</p>
            </div>
        }
    }
</div>
